.main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 20px;
  padding: 20px;
}

.plus-icon {
  background: linear-gradient(135deg, #b2ab8e, #292726);
  color: white;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.plus-icon-size{
    height: 194.4px;
}


.plus-icon:hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 10px 3px rgb(0, 0, 0);
}

.create_file_section {
    margin: auto;
    background-color: black;
    width: 95vw;
    position: relative;
    border-radius: 1rem;
    opacity: 0.5;
    display: none;
    flex-direction: column;
}
.create_forlder_navigation {
    opacity: 100;
    height: 5rem;
    width: 95vw;
    padding: 1rem;
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
    background-color: rgb(47, 255, 0);
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cut_icon {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    background-color: red;
    position: relative;
}
.text_area {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

/* data form */
.Data_form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    gap: 10px;
}
.li_form{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
}

.li_form>input{
    height: 2rem;
    width: 50vw;
}
.li_form>button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg,rgb(248, 107, 0),rgb(30, 0, 255));
    height: 2rem;
    width: 10rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
}

















@media (max-width: 480px) {
    .main {
        grid-template-columns: 1fr; /* मोबाइल पर 1 कॉलम */
    }
    .text_area {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr; /* टैबलेट पर 2 कॉलम */
  }
}