.login_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content{
    /* border: 2px solid black; */
    margin: 0 auto;
    height: 70vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgb(93, 93, 93);
    border-radius: 10px;
    margin-top: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all_input{
    height: 5dvh;
    width: 20dvw;
}

#register,#submit{
    height: 5dvh;
    width: 8dvw;
}