<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/tabs style/home.css">
</head>
<body>
    <%- include("partials/navigationBar") %>
    <main class="main_content">
        <section>
            <img src="/images/HomePageImages/demo.png" alt="Error">
        </section>
    </main>

    <script src="/js/tabs_Scripting/home.js"></script>
</body>
</html>