*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_of_navigation{
    height: 15vh;
    width: 90vw;
    margin: 0 auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all_tabs{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 50vw;


}
.all_tabs>li{
    list-style: none;
    color: black;
    height: 4vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-content: center;

}
.all_tabs>li>a{
    text-decoration: none;
    color: black;
    height: 4vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}