*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all_tabs>li>a{
    text-decoration: none;
}
.all_tabs>li{
    list-style: none;
}
#togleBar1>img{
    height: 3rem;
}

/*Phone ke liye responsive*/
.header_of_navigation{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: rgb(189, 188, 188);
    padding: 1rem;
}
.all_tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
#togleBar{
    display: none;
}

@media (max-width: 480px){
    #togleBar{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .all_tabs{
        display: none;
    }
}




/* sidebar designing */
#sidebar{
    display: none;
}


@media (max-width: 480px){
    #sidebar{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
        background-color: rgb(189, 188, 188);
        height: 100vh;
        position: absolute;

        animation-name: any;
        animation-fill-mode: forwards;
        animation-duration: 0.2s;
        animation-timing-function: ease;
    }
    .all_tabs2{
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .all_tabs2>li{
        list-style: none;
    }
    .all_tabs2>li>a{
        text-decoration: none;
    }
}


@keyframes any{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}